.sidebar-div {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 3%;
	width: 60%;
	& > h1 {
		font-family: "Philosopher", sans-serif;
		border-bottom: 2px solid rgba(0, 0, 0, 0.6);
		width: 80%;
		text-align: center;
	}
}

@media only screen and (max-width: 550px) {
	.sidebar-div {
		display: none;
		width: 0;
	}
}
